asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
distlib==0.3.8
Django==5.0.4
django-jasmine==0.5.1
django-jazzmin==2.6.1
filelock==3.13.3
idna==3.10
pillow==10.4.0
platformdirs==4.2.0
razorpay==1.4.2
requests==2.32.3
setuptools==75.2.0
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.3
virtualenv==20.25.1
