<!-- store/templates/store/home.html -->

{% extends 'base.html' %}  <!-- Extending the base template -->
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Main Slider Start -->
<div class="header">
    <div class="header-slider normal-slider">
        <div class="header-slider-item">
            <img src="{% static 'img/slider-1.jpg' %}" alt="Slider Image" />
            <div class="header-slider-caption">
                <p>Some text goes here that describes the image</p>
                <a class="btn btn-primary" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
            </div>
        </div>
        <div class="header-slider-item">
            <img src="{% static 'img/slider-2.jpg' %}" alt="Slider Image" />
            <div class="header-slider-caption">
                <p>Some text goes here that describes the image</p>
                <a class="btn btn-primary" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
            </div>
        </div>
    </div>
</div>
<!-- Main Slider End -->

<!-- Featured Products Start -->
<div class="featured-product product mt-5">
    <div class="container-fluid">
        <div class="section-header">
            <h1>Featured Products</h1>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="product-item card h-100">
                    <div class="product-image">
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.thumbnail.url }}" class="card-img-top" alt="{{ product.name }}">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="product-title">
                            <h5 class="card-title">
                                <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                            </h5>
                        </div>
                        <div class="product-price">
                            <h3><span>$</span>{{ product.discount_price }}</h3>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-success btn-sm" href="{% url 'add_to_cart' product.id %}">
                            <i class="fa fa-cart-plus"></i> Add to Cart
                        </a>
                        <a class="btn btn-primary btn-sm" href="{% url 'product_detail' product.id %}">
                            <i class="fa fa-shopping-cart"></i> Buy Now
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Featured Products End -->
{% endblock %}
